.cartBookWrapper{
    max-height: 60vh;
    min-height: 60vh;
    overflow-y: scroll;
    padding: 0;
}
.cartBookHeadTitle{
    font-size: 30px;
    font-weight: bold;
}
.cartBookContainer{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.cartBookImage{
    width: fit-content;
    height: fit-content;
    padding: 0;
    min-height: 74.76px;
    display: flex;
}
.cartBookName{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.cartBookNameTitle{
    font-size: 20px;
    font-weight: bold;
}

.cartBookPrice {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
    font-size: 23px;
    font-weight: bold;
}
.cartBookDelete{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: inherit;
    font-size: 30px;
}
.cartTotalPrice{
    /* width: fit-content; */
    font-size: 20px;
    font-weight: bold;
    justify-content: start;
    flex-wrap: nowrap;
}
.cartTotalPriceContainer{
    display: flex;
}
.checkOutButton{
    justify-self: flex-end;
    width: fit-content;
}
.cartQuantityChange{
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: column;
}
.cartQuantityAdd{
    padding: 10px;
}
.cartQuantityRemove{
    padding: 10px;
}
.cartClearContainer{
    padding: 0;
    display: flex;
    justify-content: end;
    text-align: end;
}
.cartClearAll{
    font-size: larger;
    padding: 0;
    color: rgb(245, 19, 19);
}
.cartClearAll:hover{
    color: rgb(0, 0, 0);
}