.allBookWrapper{
    width: fit-content;
    height: fit-content;
}
.allBookTitile{
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}
.allBookContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}
.allBookImageContainer{
    min-height: 284.12px;
    padding: 0;
    display: flex;
}
.allBookPrice{
    font-size: 16px;
    font-weight: 600;
}
.allBookTagContainer{
    background-color: rgb(37, 36, 40);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 2px;
    border-radius: 8%;
    padding: 1px 9px;
}
.addCardBtn{
    justify-content: center;
    width: 100%;
}