.orderBookWrapper{
    max-height: 60vh;
    min-height: fit-content;
    overflow-y: scroll;
    padding: 0;
}
.orderBookHeadTitle{
    font-size: 30px;
    font-weight: bold;
}
.orderBookContainer{
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
}

.orderBookImage{
    width: fit-content;
    height: fit-content;
    padding: 0;
    min-height: 74.76px;
    display: flex;
}
.orderBookName{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.orderBookNameTitle{
    font-size: 20px;
    font-weight: bold;
}

.orderBookPrice {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: flex-end;
    width: fit-content;
    font-size: 23px;
    font-weight: bold;
}