.searchResultWrapper{
    width: fit-content;
    height: fit-content;
}

.searchResultTitleTextContainer{
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.searchResultBookContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.searchResultBookPrice{
    font-size: 16px;
    font-weight: 600;
}

.searchResultTagContainer{
    background-color: rgb(37, 36, 40);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 2px;
    border-radius: 8%;
    padding: 1px 9px;
}
.searchResultAddCartBtn{
    justify-content: center;
    width: 100%;
}