.searchResultWrapper{
    width: fit-content;
    height: fit-content;
}

.searchResultTitleTextContainer{
    padding: 0;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.searchResultBookContainer{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
}

.searchResultBookPrice{
    font-size: 16px;
    font-weight: 600;
}

.searchResultTagContainer{
    background-color: rgb(37, 36, 40);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 2px;
    border-radius: 8%;
    padding: 1px 9px;
}
.searchResultAddCartBtn{
    justify-content: center;
    width: 100%;
}
.noResultContainer{
    min-height: 70vh;
    color: rgba(66, 66, 66, 0.63);
    text-align: center;
}
.noResultIcon{
    font-size: 200px;
}
.noResultText{
    font-size: 50px;
}