.Navbar-wrapper{
    min-width: 100%;
    margin:0;
    padding-left: 0;
    padding-right: 0;
    font-size: 17px;
    padding: 0;
}

.Nav-FirstlineItems{
    font-size: 12px;
}
.locationIcon{
    margin-right: 5px;
}
.Navigationbar{
    flex-flow: column;
    margin:0;
    padding-left: 0;
    padding-right: 0;
}
.Navhead{
    border-bottom: 1px solid white;
}
.siteName {
    text-decoration: none;
    display: flex;
}
.siteName_image{
    width: 5vh;
    height: auto;
}
.siteName_title{
    font-size: 3.2vh;
}
.Navbar-Search{
    margin-left: 2vh;
    width: 50%;
}

.searchButton{
    padding-left: 20px; 
    padding-right:20px;
}

.searchIcon{
    padding-left: 5%;
    padding-right: 5%;
}
.NavCartIconContainer{
    width: fit-content;
    height: fit-content;
    margin-right: 1vh;
    padding: 0;
    align-self: center;
}
.NavCartIcon{
    color: white;
    font-size: 3vh;
}
.Category-wrapper{
    font-size: 2.4vh;
}
.categoryItems{
    margin: 0 10px 0;
}

.wellcomeUser {
    font-size: 1.8vh;
}

.logOutButton {
    margin-left: 3px;
}
.logOutIcon {
    font-size: 1.8vh; 
}
.googleLogin{
    margin-left: 4px;
}
