.tabWrapper{
    /* border: 2px solid black; */
    /* margin: 0; */
    /* padding: 0; */
    /* width: 100%; */
    max-width: 90%;
    min-height: 70vh;
    /* background-size: cover; */
}
.titleWrapper {
    /* font-size: 50px; */
    width: 100%;
    height: 10vh;
    margin: 0;
}
.titleText{
    font-size: 50px;
    /* color: white; */
}
.tabTitle {
    font-size: 30px;
    margin: 0;
    
}
.bookCoverImage{
    /* width: 100px; */
    width:inherit;
    max-height: 130px;
}