.tabWrapper{
    padding: 0;
    max-width: 90%;
    min-height: 70vh;
}
.tabContainer{
    padding: 0;
}
.titleWrapper {
    width: 100%;
    height: 10vh;
    margin: 0;
}
.titleText{
    font-size: 50px;
}
.tabTitle {
    font-size: 30px;
    margin-bottom: 10px;
    
}
.bookCoverImage{
    width:inherit;
    max-height: 130px;
}
.btnAction{
    margin-left: 2px;
    margin-right: 2px;
}
.tagContainer {
    background-color: rgb(37, 36, 40);
    color: white;
    width: fit-content;
    height: fit-content;
    margin: 2px;
    border-radius: 8%;
}
.gerneWrapper{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}