.textWrapper {
    /* background: gray; */
    background-size: cover;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    max-width: 100%;
    text-align: center;
    /* color: white; */
    font-weight: 700;
}
.bigText {
    font-size: 80px;
}
.smallText{
    font-size: 20px;
    padding-bottom: 15%;
}
.homeLink {
    color: blue;
    text-decoration: underline;
}
.sadIcon{
    font-size: 150px;
    padding-top: 10%;
}